body {
  border: 1px solid white;
  font-family: "Source Sans Pro", sans-serif;
  max-width: 100%;
}
.header {
  background-image: url(images/del1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: contain;
  color: white;
  text-align: center;
  height: 800px;
  width: 1450px;
}
.logo-img {
  height: 75px;
  margin-top: 250px;
}
.header h1 {
  padding-top: 50px;
}
.haeader p {
  border: 1px solid red;
}
.mouse {
  padding-top: 170px;
}
.about {
  padding-top: 60px;
  text-align: center;
  margin-left: 300px;
}
.services {
  margin-top: 40px;
  color: white;
  width: 1450px;
  height: 350px;
  background-image: url(images/del2.jpg);
  text-align: center;
  padding-top: 80px;
  padding-bottom: 30px;
}
.we-do {
  width: 1350px;
  height: 350px;
  margin-top: 30px;
  padding-top: 60px;
}
.we-do h2 {
  color: black;
  text-align: center;
  margin-top: 60px;
}
.imgs {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
  color: black;
}
.img1 {
  text-align: center;
}
.design {
  display: none;
}
.img2 {
  text-align: center;
}
.development {
  display: none;
}
.img3 {
  text-align: center;
}
.product {
  display: none;
}
.portfolio {
  height: 380px;
  width: 1380px;
  margin-top: 160px;
  padding-left: 60px;

}
.img-port {
  padding-right: 1px;
}
.img-p {
  margin-right: 100px;
}
footer {
  margin-top: 50px;
}
.foot {
  background-image: url(images/del.jpg);
  background-size: cover;
  background-position: center;
  height: 460px;
  margin-top: 280px;
  color: white;
}
.foot h2 {
  text-align: center;
  /* padding-left: 550px; */
}
.socials {
  padding-top: 60px;
  margin-left: 350px;
  padding-bottom: 30px;
  color: black;
}
.comment {
  opacity: 0.9;
  background-color: transparent;
}
.del1,
.del2,
.del3,
.del4,
.del5,
.del6,
.del7,
.del8 {
  display: none;
  color: white;
  position: absolute;
  padding: 100px 100px;
  margin: 19px 19px;
  margin-bottom: 19px;
  top: 0;
  border: 4px solid white;
}
.row {
  display: flex;
  justify-content: space-evenly;
}
.col-8 {
  background-color: rgba(0, 0, 0, 0);
  color: aliceblue;
  margin-left: 200px;
}
/* .col-6 {
  background-color: rgba(0, 0, 0, 0);
  color: aliceblue;
         ;


} */
.transparent-input {
  background-color: rgba(0, 0, 0, 0);
  color: aliceblue;
}
:-webkit-input-placeholder {
  color: white;
}
